<div class="content-item" [appActualizationCrs]="item.data">
  <div class="left-part">
    <div class="head-part">
      <h3 *ngIf="item.index == 0"> Course entry</h3>
      <h3 *ngIf="item.index > 0"> Course {{item.index}}</h3>
      <div>
        <p>{{item.duration}}(min)</p>
        <p>{{item.data | date }}</p>
      </div>
    </div>
    <h4>{{item.title}}</h4>
    <p>{{item.description}}</p>
  </div>
  <div class="right-part">
    <button>Edit</button>
    <button (click)=" deleteItemID(item._id)">Delete</button>
  </div>
</div>
