<div class="content-item" [appActualizationCrs]="item.data">
  <div class="left-part">
    <div class="head-part">
      <h3>{{item.title | uppercase}} |
        <span *ngIf="item.rate; else elseBlock">&#9733;</span>
        <ng-template #elseBlock>&#9956;</ng-template>
      </h3>
      <div>
        <p>{{item.duration | duration }}</p>
        <p>{{item.data | date:'dd-MM-yyyy' }}</p>
      </div>
    </div>
    <p>{{item.description}}</p>
  </div>
  <div class="right-part">
    <button>Edit</button>
    <button (click)="deleteItemID(item._id)">Delete</button>
  </div>
</div>
